ALTER TABLE mail_recipients 
MODIFY COLUMN alert_type ENUM('SUCCESS','FAILURE','ESCALATION','RERUN_FAILURE','RESOLVED');


WHERE mr.customer_id=%s
  AND mr.alert_type='RESOLVED'
  AND mr.is_active=1

INSERT INTO mail_recipients (alert_type, customer_id, to_addresses, cc_addresses, is_active)
VALUES ('RESOLVED', <your_customer_id>, 'team@example.com', NULL, 1);